*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--b-color);
}
:root{
    --b-color: #121212;
    --o-color: #f2aa4cff;
    --g-color: #8c8c8c;
    --w-color: #ffffff;
    --sb-color: #2f89fc;
}
.header{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(244,244,242); */
    background-color: var(--b-color);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    flex: 1;
    text-align: right;
    padding: 1.5% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
nav img{
    width: 25px;
}
nav a{
    text-decoration: none;
    color: var(--w-color);
    font-family: 'roboto';
    font-size: 50px;
}
nav a.a{
    position: relative;
}
nav a.aa{
    display: none;
}
/* .nav-links{ */
/* } */

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
nav ul li a{
    color: var(--w-color);
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--o-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li:active::after{
    width: 100%;
}
nav ul li a:hover{
    color: var(--o-color);
    transition: 0.3s;
}
nav ul li a.active:active{
    color: var(--o-color);
}
nav.sticky{
    width: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex: 1;
    text-align: right;
    padding: 1.5% 6%;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    z-index: 999;
    background-color: var(--o-color);
    /* box-shadow: 0px 1px 10px rgb(165, 165, 165); */
    transition: background 0.3s;
}
nav.sticky a.a{
    display: none;
}
nav.sticky a.aa{
    display: block;
}
nav.sticky ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--b-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav.sticky ul li:hover::after{
    width: 100%;
}
nav.sticky ul li a:hover{
    color: var(--b-color);
    transition: 0.3s;
}
nav.sticky ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
nav.sticky ul{
    margin-right: 25px;
    width: auto;
}

.fade-in{
    animation : fadein 1s linear forwards;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
p.top-p{
    animation-delay: 0s;
}
h1.fade-in{
    animation-delay: 1s;
}
p.bottom-p{
    animation-delay: 1.5s;
}
a.fade-in{
    animation-delay: 2s;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    color: var(--o-color);
    font-size: 78px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 10px 0px;
    opacity: 0;
}
.text-box p.top-p{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    opacity: 0;

}
.text-box P.bottom-p{
    font-size: 22px;
    color: var(--g-color);
    margin: 0px 0 20px;
    font-family: 'rubik', sans-serif;
    opacity: 0;

}
.text-box a {
    opacity: 0;
}
.text-box a button{
    font-size: 15px;
    font-family: 'rubik', sans-serif;
    text-decoration: none;
    color: var(--sb-color);
}
button {
    cursor: pointer;
    border: solid var(--sb-color) 2px;
    border-radius: 31px;
    background:transparent;
    padding: 15px;
}
a button:hover{
    color: white;
    background-color: var(--sb-color);
    transition: 0.5s;

}
nav i.fa{
    display: none;
}
@media (max-width:700px) {
    .text-box h1{
        font-size: 30px;
    }
    .text-box p.top-p{
        font-size: 20px;
    }
    .text-box P.bottom-p{
        font-size: 18px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        color: white;
    }
    .nav-links{
        color: white;
        position: absolute;
        background: var(--o-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav i.fa-times{
        display: block;
        color: var(--b-color);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav i.fa-bars{
        display: block;
        color: var(--sb-color);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/* .angle-up{
    height : 30px;
    border: none;
    border-radius: 50px;
    display: block;
    padding: 5px 10px;
    bottom: 50px;
    right: 2px;
    background-color: white;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 5px rgb(165, 165, 165);
    transition: right 0.2s linear;
} */
/* .angle-up:hover{
    right: 10px;
    border: 2px solid #2D5C7F;
} */
.about{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    min-height: 100vh;
    /* background-color: rgb(244,244,242); */
    background-position: center;
    background-size: cover;
    position: relative;
}
.about h1{
    color: var(--w-color);
    /* font-size: 50px; */
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.column img.img{
    height: 350px;
}
@media (max-width: 700px){
    .column img.img{
        height: 150px;
        margin-bottom: 0px;
    }
}
.column{
    flex-basis: 30%;
    background: transparent;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.column-l{
    text-align: left;
}
.row h3{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;

}
.row p{
    font-family: 'rubik',sans-serif;
}
.row p.dis{
    color: #8c8c8c;
    font-size: 18px;
    /* margin-left: 5%; */
    margin-right: 5%;
}
a.resume{
    text-decoration: none;
    color: #2f89fc;
    font-family: "poppins";
    font-weight: 300;
}
section.socialicon{
    display: flex;
}
svg{
    height: 20px;
}
button.socialicon{
    background-color: #ffffff0d;
    border: none;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
button.socialicon:hover{
    cursor: pointer;
    transition: background 0.5s;
}
#svg-fill{
    fill: var(--o-color);
}

#svg-fill:hover{
    fill: white;
    transition: fill 0.3s ease-in-out;
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .column-l{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .row h3{
        text-align: center;
    }
    .socialicon{
        justify-content: center;
    }
}
.Services{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    min-height: 100vh;
    background-color: var(--b-color);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Services h1{
    color: var(--w-color);
    font-family: 'roboto',sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 100px;
}
.Services .rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.Services .rows img{
    width: 150px;
}
.Services .column{
    flex-basis: 30%;
    /* background: white; */
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    /* border: solid 1px #9BA4B4; */
    /* border-radius: 5px; */
}
.Services .rows .column img.i{
    margin-top: 50px;
    margin-bottom: 25px;
}
.Services .rows h3{
    color: var(--w-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.Services p{
    font-family: 'rubik',sans-serif;
    color: #8c8c8c;
    font-size: 20px;
}

@media (max-width: 700px) {
    .Services .rows{
        flex-direction: column;
    }
}
/* .mind{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    min-height: 50vh;
    background-image: url("images/cover1.2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.mind h1{
    color: white;
    font-family: 'roboto',sans-serif;
    padding-top: 30px;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}
.mind.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.text-box2{
    width: 90%;
    color: #2D5C7F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box2 h1{
    font-size: 70px;
}
.text-box2 a button{
    font-size: 15px;
    font-family: 'rubik', sans-serif;
    text-decoration: none;
}
.text-box2 button{
    color: #ffffff;
    cursor: pointer;
    border: solid #ffffff 2px;
    border-radius: 31px;
    background:transparent;
    padding: 15px;
}
.text-box2 a button:hover{
    color: #2D5C7F;
    background-color: white;
    transition: 0.5s;

}
.column-b{
    margin: 5px 0px;
}
.blue{
    background: rgb(45, 92, 127,0.75);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .text-box2 h1{
        font-size: 25px;
    }
} */
.works{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    min-height: 100vh;
    background-color: var(--b-color);
    background-position: center;
    background-size: cover;
    position: relative;
}
@media (max-width: 700px){
    .works .photo-gallery .pic img{
        height: 300px;
        margin-bottom: 0;
    }
    .top-content{
        color: var(--w-color);
        width: 100%;
        height: 30px;
        margin: 0;
        display: flex;
        overflow: auto;
        align-items: center;
        justify-content: center;
    }
    label{
        font-family: 'poppins';
        display: inline-block;
        height: 100%;
        margin: 0 5x;
        line-height: 30px;
        font-size: 18px;
        /* color: var(--w-color); */
        cursor: pointer;
        transition: color 0.3s;
    }
}
    input{
    display: none;
}
#portfolio{
    width: 100%;
    text-align: center;
}
#portfolio h1{
    color: var(--w-color);
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 20px;
}
#portfolio p{
    font-family: 'rubik',sans-serif;
    color: #8c8c8c;
    font-size: 20px;
    margin-bottom: 20px;
}
.top-content{
    color: var(--w-color);
    width: 80%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    font-family: 'poppins';
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    /* color: var(--w-color); */
    cursor: pointer;
    transition: color 0.3s;
}
label:hover{
    color: var(--o-color);
}
label:focus{
    color: var(--o-color);
}
.photo-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 100px;
}
.pic{
    /* position: relative; */
    height: 350px;
    transition: 0.5s;
}
.pic img{
    width: auto;
    height: 350px;
}
#check1:checked ~ .portfolio .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}
#check4:checked ~ .portfolio .photo-gallery .MANIPULATION{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check4:checked ~ .portfolio .photo-gallery .LOGO,
#check4:checked ~ .portfolio .photo-gallery .SOCIAL-MEDIA-DESIGN,
#check4:checked ~ .portfolio .photo-gallery .L3D{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check2:checked ~ .portfolio .photo-gallery .LOGO{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .portfolio .photo-gallery .MANIPULATION,
#check2:checked ~ .portfolio .photo-gallery .SOCIAL-MEDIA-DESIGN,
#check2:checked ~ .portfolio .photo-gallery .L3D{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check3:checked ~ .portfolio .photo-gallery .SOCIAL-MEDIA-DESIGN{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check3:checked ~ .portfolio .photo-gallery .LOGO,
#check3:checked ~ .portfolio .photo-gallery .MANIPULATION,
#check3:checked ~ .portfolio .photo-gallery .L3D{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check5:checked ~ .portfolio .photo-gallery .L3D{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check5:checked ~ .portfolio .photo-gallery .LOGO,
#check5:checked ~ .portfolio .photo-gallery .SOCIAL-MEDIA-DESIGN,
#check5:checked ~ .portfolio .photo-gallery .MANIPULATION{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
.Pricing{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    background-color: var(--b-color);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Pricing h1{
    color: var(--w-color);
    font-family: 'roboto',sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}
.Pricing.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.Pricing .column{
    height: auto;
    flex-basis: 30%;
    background: white;
    margin-bottom: 5%;
    padding: 0px 0px;
    box-sizing: border-box;
    border: solid 1px #9BA4B4;
    border-radius: 10px;
}
.Pricing .row .column h2{
    font-family: 'Actor', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0px;
    border-bottom: #9BA4B4 solid 1px;
}
.Pricing .row h3{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: #2D5C7F;
    padding: 20px 0px;
    border: solid 1px #2D5C7F;
    border-radius: 10px 10px 0px 0px;
}
.Pricing p{
    font-family: 'rubik',sans-serif;
    color: #353535;
    padding: 80px 30px;
}
.column a button {
    font-size: 15px;
    font-family: 'rubik', sans-serif;
    text-decoration: none;
    color: #2D5C7F;
    cursor: pointer;
    border: solid #2D5C7F 2px;
    border-radius: 31px;
    background:transparent;
    padding: 10px 30px;
    margin: 20px;
}
.column a button:hover{
    color: white;
    background-color: #2D5C7F;
    transition: 0.5s;
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .Pricing .column{
        margin-left: 15%;
        margin-right: 15%;
    }
}
/* .contact{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    background-color: rgb(244,244,242);
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact h1{
    font-family: 'roboto',sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}
input, textarea{
    color: #9BA4B4;
    border: solid 0px #707070;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    width: 80%;
    padding: 15px 15px;
    margin: 20px;
    background-color: white;
}
form button{
    padding: 15px;
    color: #2D5C7F;
    background-color: white;
    font-size: 18px;
    font-family: 'rubik',sans-serif;
    border: solid 2px #2D5C7F;
    outline: none;
    width: 200px;
    margin:  20px auto 0;
    border-radius: 30px;
    transition: 0.3s;
}
form button:hover{
    cursor: pointer;
    background-color:#2D5C7F;
    color: white;    
}
/* .contact form{
    flex-basis: 30%;
    background: white;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border: solid 1px #9BA4B4;
    border-radius: 5px;
}
@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    form button{
    font-size: 15px;
    width: 180px;
    padding: 10px;
    }
} */
.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 250px;
    min-height: 0vh;
    background-color: var(--b-color);
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
}
section.socialicons{
    display: flex;
    justify-content: center;
}
svg{
    align-items: center;
    height: 20px;
}
button.socialicons{
    background-color: #ffffff0d;
    border: none;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
button.socialicons:hover{
    cursor: pointer;
    transition: background 0.5s;
}
#svg-fill{
    fill: var(--o-color);
}

#svg-fill:hover{
    fill: white;
    transition: fill 0.3s ease-in-out;
}
.c-mail{
    text-decoration: none;
}
.f-contact{
    color: var(--w-color);
    font-family: 'roboto',sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}
.f-mail{
    display: inline-block;
    color: var(--sb-color);
    font-family: 'poppins',sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
    transition: color 0.3s ease-in-out;
}
.f-mail:hover{
    color: var(--o-color);
}
.footer p{
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    padding: 30px 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
@media (max-width: 700px) {
    .footer p{
    padding: 15px 5px;
    padding-bottom: 0px;

    }
}