
@media only screen and (max-width: 600px) and (min-width: 400px){

}
*{
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}
.container{
    position: relative;
    left: 20vw;
    align-items: center;
    text-align: center;
    width: 60vw;
}
.gridcontainer{
    display: grid;
    grid-template-areas: ''
    ;
}
.photo{
    display: grid;
    grid-template-areas: 'photo name name name'
    ;
}
header{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 50px;
    font-style: normal;
}
img{
    width: 200px;
    border-radius: 50%;
    grid-area: photo;
}
.name{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    grid-area: name;
}
.h1name{
    text-align: left;
    font-size: 30px;
}
.h6name{
    /* display: inline-block; */
    text-align: left;
    align-items: left;
    font-weight: 500;
    font-size: 15px;
    border-bottom: solid orange 2px;
}

